.env
/node_modules
/.env
/venv
/__pycache__
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
/media
/staticfiles
/postgres_data/
/static
.DS_Store
.idea
.vscode
server/.env
default.local.conf
docker-compose.override.yml